In [1]:
%matplotlib inline
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from datetime import datetime
# Load in csv
bin_usage_df = pd.read_csv("bin_usage.csv")
bin_usage_df

,sn,streamtype,timestamp,level,invalid_the_geom
0,1400016,Trash,06/06/2014 02:04:00 PM,RED,"(39.9951, -75.1395)"
1,172206,Trash,06/16/2014 04:29:00 PM,RED,"(39.946, -75.1578)"
2,173269,Trash,06/16/2014 12:59:00 PM,RED,"(40.003, -75.1659)"
3,173209,Trash,06/12/2014 12:35:00 PM,GREEN,"(39.9533, -75.2174)"
4,173041,Trash,06/12/2014 10:38:00 AM,GREEN,"(40.0585, -75.1894)"
...,...,...,...,...,...
53863,171821,Trash,01/01/2014 12:04:00 AM,YELLOW,"(39.95017402, -75.18092682)"
53864,174535,Trash,01/01/2014 12:03:00 AM,RED,"(39.97882609, -75.15801913)"
53865,173114,Trash,01/01/2014 12:00:00 AM,GREEN,"(40.0363, -75.1304)"
53866,174544,Trash,01/01/2014 12:00:00 AM,GREEN,"(39.98636987, -75.15632146)"
53867,1401947,Trash,01/01/2014 12:00:00 AM,YELLOW,"(39.95289401, -75.14500629)"

In [2]:
# Get the columns and the rows that are null.
bin_usage_df.isnull().sum()

sn                  0
streamtype          0
timestamp           0
level               0
invalid_the_geom    0
dtype: int64

In [3]:
# Get the columns and the rows that are not null.
bin_usage_df.notnull().sum()

sn                  53868
streamtype          53868
timestamp           53868
level               53868
invalid_the_geom    53868
dtype: int64

In [4]:
# Get the data types of each column.
bin_usage_df.dtypes

sn                   int64
streamtype          object
timestamp           object
level               object
invalid_the_geom    object
dtype: object

In [5]:
# Rename serial Number column
bin_usage_df.rename(columns={"sn": "serialnum"}, inplace=True)

In [7]:
# how many streamtypes
bin_usage_df.streamtype.value_counts()

Trash    53868
Name: streamtype, dtype: int64

In [8]:
# how many levels
bin_usage_df.level.value_counts()

GREEN     25709
YELLOW    19540
RED        8619
Name: level, dtype: int64

In [9]:
# usage per serial number
bin_usage_df.serialnum.value_counts()

171740    512
171758    435
171777    429
172228    383
171865    372
         ...
171732      1
173285      1
173061      1
171870      1
171850      1
Name: serialnum, Length: 968, dtype: int64

In [10]:
# change timestamp to datetime
bin_usage_df[['timestamp']] = bin_usage_df[['timestamp']].apply(pd.to_datetime)

In [11]:
bin_usage_df.dtypes

serialnum                    int64
streamtype                  object
timestamp           datetime64[ns]
level                       object
invalid_the_geom            object
dtype: object

In [12]:
month_map={ 
    1: 'January', 
    2: 'February', 
    3: 'March', 
    4: 'April',
    5: 'May', 
    6: 'June'
} 

bin_usage_df['Month'] = bin_usage_df['timestamp'].dt.month.map(month_map)

In [13]:
week_map={
    0: 'Monday', 
    1: 'Tuesday', 
    2: 'Wednesday', 
    3: 'Thursday', 
    4: 'Friday',
    5: 'Saturday', 
    6: 'Sunday'
} 

bin_usage_df['Day of Week'] = bin_usage_df['timestamp'].dt.weekday.map(week_map)

In [14]:
bin_usage_df

,serialnum,streamtype,timestamp,level,invalid_the_geom,Month,Day of Week
0,1400016,Trash,2014-06-06 14:04:00,RED,"(39.9951, -75.1395)",June,Friday
1,172206,Trash,2014-06-16 16:29:00,RED,"(39.946, -75.1578)",June,Monday
2,173269,Trash,2014-06-16 12:59:00,RED,"(40.003, -75.1659)",June,Monday
3,173209,Trash,2014-06-12 12:35:00,GREEN,"(39.9533, -75.2174)",June,Thursday
4,173041,Trash,2014-06-12 10:38:00,GREEN,"(40.0585, -75.1894)",June,Thursday
...,...,...,...,...,...,...,...
53863,171821,Trash,2014-01-01 00:04:00,YELLOW,"(39.95017402, -75.18092682)",January,Wednesday
53864,174535,Trash,2014-01-01 00:03:00,RED,"(39.97882609, -75.15801913)",January,Wednesday
53865,173114,Trash,2014-01-01 00:00:00,GREEN,"(40.0363, -75.1304)",January,Wednesday
53866,174544,Trash,2014-01-01 00:00:00,GREEN,"(39.98636987, -75.15632146)",January,Wednesday
53867,1401947,Trash,2014-01-01 00:00:00,YELLOW,"(39.95289401, -75.14500629)",January,Wednesday

In [56]:
timestamps_per_month = bin_usage_df.groupby("Month").count()['timestamp']

In [59]:
timestamps_per_month

Month
January      8678
February     6661
March        8730
April        9440
May         11157
June         9202
Name: timestamp, dtype: int64

In [58]:
timestamps_per_month = timestamps_per_month.reindex(["January", "February", "March", "April", "May", "June"])

In [54]:
timestamps_per_month

Month
January      8678
February     6661
March        8730
April        9440
May         11157
June         9202
Name: timestamp, dtype: int64

In [50]:
timestamps_level_month = bin_usage_df.groupby(["Month", "level"]).count()['timestamp']

In [51]:
timestamps_level_month

Month     level
April     GREEN     4347
          RED       1376
          YELLOW    3717
February  GREEN     2916
          RED       1363
          YELLOW    2382
January   GREEN     4681
          RED       1237
          YELLOW    2760
June      GREEN     4554
          RED       1533
          YELLOW    3115
March     GREEN     4106
          RED       1369
          YELLOW    3255
May       GREEN     5105
          RED       1741
          YELLOW    4311
Name: timestamp, dtype: int64

TypeError: reindex() got an unexpected keyword argument "labels"